[defaults]
ask_pass=False

# Use the local inventory directory
inventory=inventory/hosts

private_key_file=/home/ubuntu/.ssh/id_ed25519

remote_user=ubuntu

roles_path=./roles

host_key_checking=False


[privilege_escalation]

[persistent_connection]

[connection]

[colors]

[selinux]

[diff]

[galaxy]

[inventory]

[netconf_connection]

[paramiko_connection]

[jinja2]

[tags]
